* {
    /* General */
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
}

#mode {
  padding: 0 12px;
  color:red;
}
window#waybar {
    background-color: black;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background: white;
    color:black;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


@keyframes blink {
    to {
        color: #ffffff;
    }
}

#pulseaudio,
#pulseaudio.microphone,
#network,
#cpu,
#memory,
#temperature,
#clock,
#tray {
    padding: 0 10px;
    margin: 0 3px; color: #ffffff;
}

#temperature.critical {
    color: #ffffff;
    animation: critical-blink 1s linear infinite alternate;
}

@keyframes critical-blink {
    to {
        color: #ff0000;
    }
}
